strict `as.gamlss.family` <1>;
strict `BB` <>;
strict `BCCG` <>;
strict `BCT` <>;
strict `BE` <>;
strict `BEINF` <>;
strict `BEINF0` <>;
strict `BEINF1` <>;
strict `BEOI` <>;
strict `BEZI` <>;
strict `BI` <>;
strict `BNB` <>;
strict `centileKurt` <1,2,3>;
strict `centileSK` <1,2,3>;
strict `centileSkew` <1,2,3>;
strict `checklink` <1,2,3,4>;
strict `count_1_31` <1,2,3,4,5,6>;
strict `dBB` <1,2,3,4,5>;
strict `dBCCG` <1,2,3,4,5>;
strict `dBCPE` <1,2,3,4,5,6>;
strict `dBCT` <1,2,3,4,5,6>;
strict `dBE` <1,2,3,4>;
strict `dBEINF` <1,2,3,4,5,6>;
strict `dBEINF0` <1,2,3,4,5>;
strict `dBEINF1` <1,2,3,4,5>;
strict `dBEOI` <1,2,3,4,5>;
strict `dBEZI` <1,2,3,4,5>;
strict `dBI` <1,2,3,4>;
strict `DBI` <>;
strict `dBNB` <1,2,3,4,5>;
strict `DBURR12` <>;
strict `dDBI` <1,2,3,4,5>;
strict `dDBURR12` <1,2,3,4,5>;
strict `dDEL` <1,2,3,4,5>;
strict `dDPO` <1,2,3,4>;
strict `dEGB2` <4>;
strict `DEL` <>;
strict `dexGAUS` <1,2,3,4,5>;
strict `dEXP` <1,2,3>;
strict `dGA` <1,2,3,4>;
strict `dGB1` <1,2,3,4,5,6>;
strict `dGB2` <1,2,3,4,5,6>;
strict `dGEOM` <1,2,3>;
strict `dGEOMo` <1,2,3>;
strict `dGIG` <1,2,3,4,5>;
strict `dGPO` <1,2,3,4>;
strict `dGT` <1,2,3,4,5,6>;
strict `dGU` <1,2,3,4>;
strict `dIG` <1,2,3,4>;
strict `dIGAMMA` <1,2,3,4>;
strict `dJSU` <1,2,3,4,5,6>;
strict `dJSUo` <1,2,3,4,5,6>;
strict `dLG` <1,2,3>;
strict `dLO` <1,2,3,4>;
strict `dLOGITNO` <1,2,3,4>;
strict `dLOGNO` <1,2,3,4>;
strict `dLOGNO2` <1,2,3,4>;
strict `dMN3` <1,2,3,4>;
strict `dNBF` <1,2,3,4,5>;
strict `dNBI` <1,2,3,4>;
strict `dNBII` <1,2,3,4>;
strict `dNET` <1,2,3,4,5,6>;
strict `dNO` <1,2,3,4>;
strict `dPARETO2` <1,2,3,4>;
strict `dPE` <1,2,3,4,5>;
strict `dPE2` <1,2,3,4,5>;
strict `dPIG` <1,2,3,4>;
strict `dPO` <1,2,3>;
strict `DPO` <>;
strict `dRG` <1,2,3,4>;
strict `dSEP` <1,2,3,4,5,6>;
strict `dSEP1` <1,2,3,4,5,6>;
strict `dSEP2` <1,2,3,4,5,6>;
strict `dSEP3` <1,2,3,4,5,6>;
strict `dSEP4` <1,2,3,4,5,6>;
strict `dSHASH` <1,2,3,4,5,6>;
strict `dSHASHo` <1,2,3,4,5,6>;
strict `dSHASHo2` <1,2,3,4,5,6>;
strict `dSI` <1,2,3,4,5>;
strict `dSICHEL` <1,2,3,4,5>;
strict `dSIMPLEX` <1,2,3,4>;
strict `dSN1` <1,2,3,4,5>;
strict `dSN2` <1,2,3,4,5>;
strict `dSST` <1,2,3,4,5,6>;
strict `dST1` <1,2,3,4,5,6>;
strict `dST2` <1,2,3,4,5,6>;
strict `dST3` <1,2,3,4,5,6>;
strict `dST4` <1,2,3,4,5,6>;
strict `dST5` <1,2,3,4,5,6>;
strict `dTF` <1,2,3,4,5>;
strict `dTF2` <1,2,3,4,5>;
strict `dWARING` <1,2,3,4>;
strict `dWEI2` <1,2,3,4>;
strict `dYULE` <1,2,3>;
strict `dZABI` <1,2,3,4,5>;
strict `dZABNB` <1,2,3,4,5,6>;
strict `dZAGA` <1,2,3,4,5>;
strict `dZAIG` <1,2,3,4,5>;
strict `dZAZIPF` <1,2,3,4>;
strict `dZIBI` <1,2,3,4,5>;
strict `dZIBNB` <1,2,3,4,5,6>;
strict `dZINBF` <1,2,3,4,5,6>;
strict `dZIPF` <1,2,3>;
strict `EGB2` <>;
strict `exGAUS` <>;
strict `EXP` <>;
strict `Family.d` <1,2>;
strict `Family.p` <1,2>;
strict `Family.q` <1,2>;
strict `Family.r` <1,2>;
strict `Family` <1,2,3>;
strict `flexDist` <1,2,3,4,5,6,7,8,9,10,11>;
strict `GA` <>;
strict `GAF` <>;
strict `gamlss.family.default` <1>;
strict `gamlss.family` <>;
strict `GB1` <>;
strict `GB2` <>;
strict `gen.Family` <1,2>;
strict `gen.hazard` <1>;
strict `get_C` <1,2,3>;
strict `GetBI_C` <1,2,3>;
strict `GPO` <>;
strict `GT` <>;
strict `GU` <>;
strict `hazardFun` <1>;
strict `IG` <>;
strict `JSU` <>;
strict `JSUo` <>;
strict `LG` <>;
strict `LNO` <>;
strict `LO` <>;
strict `LOGNO` <>;
strict `LOGNO2` <>;
strict `LQNO` <>;
strict `make.link.gamlss` <1>;
strict `momentSK` <1,2>;
strict `mtexti` <1,2,3,4,5,6>;
strict `NBF` <>;
strict `NBI` <>;
strict `NBII` <>;
strict `NET` <>;
strict `NO` <>;
strict `NOF` <>;
strict `pBB` <1,2,3,4,5,6>;
strict `pBCCG` <1,2,3,4,5,6>;
strict `pBCPE` <1,2,3,4,5,6,7>;
strict `pBCT` <1,2,3,4,5,6,7>;
strict `pBE` <1,2,3,4,5>;
strict `pBEINF` <1,2,3,4,5,6,7>;
strict `pBEINF0` <1,2,3,4,5,6>;
strict `pBEINF1` <1,2,3,4,5,6>;
strict `pBEOI` <1,2,3,4,5,6>;
strict `pBEZI` <1,2,3,4,5,6>;
strict `pBNB` <1,2,3,4,5,6>;
strict `pDBURR12` <1,2,3,4,5,6>;
strict `pDEL` <1,2,3,4,5,6>;
strict `pDPO` <1,2,3,4,5>;
strict `PE` <>;
strict `PE2` <>;
strict `pexGAUS` <1,2,3,4,5,6>;
strict `pEXP` <1,2,3,4>;
strict `pGA` <1,2,3,4,5>;
strict `pGEOM` <1,2,3,4>;
strict `pGEOMo` <1,2,3,4>;
strict `pGIG` <1,2,3,4,5,6>;
strict `pGPO` <1,2,3,4,5>;
strict `pGT` <1,2,3,4,5,6,7>;
strict `pGU` <1,2,3,4,5>;
strict `pIG` <1,2,3,4,5>;
strict `PIG` <>;
strict `pIGAMMA` <1,2,3,4,5>;
strict `pJSU` <1,2,3,4,5,6,7>;
strict `pJSUo` <1,2,3,4,5,6,7>;
strict `pLG` <1,2,3,4>;
strict `pLO` <1,2,3,4,5>;
strict `pLOGITNO` <1,2,3,4,5>;
strict `pLOGNO` <1,2,3,4,5>;
strict `pLOGNO2` <1,2,3,4,5>;
strict `plotBEINF` <1,2,3,4,5,6,7>;
strict `plotBEINF0` <1,2,3,4,5,6>;
strict `plotBEINF1` <1,2,3,4,5,6>;
strict `plotBEOI` <1,2,3,5,6>;
strict `plotBEZI` <1,2,3,5,6>;
strict `plotCentileSK` <1,2,3,4,5,6,7>;
strict `plotZAGA` <1,2,3,5,6,7>;
strict `plotZAIG` <1,2,3,5,6,7>;
strict `pMN3` <1,2,3,4,5>;
strict `pNBI` <1,2,3,4,5>;
strict `pNET` <1,2,3,4,5,6,7>;
strict `pNO` <1,2,3,4,5>;
strict `PO` <>;
strict `pPARETO2` <1,2,3,4,5>;
strict `pPE` <1,2,3,4,5,6>;
strict `pPE2` <1,2,3,4,5,6>;
strict `pPIG` <1,2,3,4,5>;
strict `pPO` <1,2,3,4>;
strict `pRG` <1,2,3,4,5>;
strict `pSEP` <1,2,3,4,5,6,7>;
strict `pSEP1` <1,2,3,4,5,6,7>;
strict `pSEP2` <1,2,3,4,5,6,7>;
strict `pSEP3` <1,2,3,4,5,6,7>;
strict `pSEP4` <1,2,3,4,5,6,7>;
strict `pSHASH` <1,2,3,4,5,6,7>;
strict `pSHASHo` <1,2,3,4,5,6,7>;
strict `pSHASHo2` <1,2,3,4,5,6,7>;
strict `pSI` <1,2,3,4,5,6>;
strict `pSICHEL` <1,2,3,4,5,6>;
strict `pSIMPLEX` <1,2,3,4,5>;
strict `pSN1` <1,2,3,4,5,6>;
strict `pSN2` <1,2,3,4,5,6>;
strict `pSST` <1,2,3,4,5,6,7>;
strict `pST1` <1,2,3,4,5,6,7>;
strict `pST2` <1,2,3,4,5,6,7>;
strict `pST3` <1,2,3,4,5,6,7>;
strict `pST4` <1,2,3,4,5,6,7>;
strict `pST5` <1,2,3,4,5,6,7>;
strict `pTF` <1,2,3,4,5,6>;
strict `pTF2` <1,2,3,4,5,6>;
strict `pWARING` <1,2,3,4,5>;
strict `pWEI2` <1,2,3,4,5>;
strict `pYULE` <1,2,3,4>;
strict `pZAGA` <1,2,3,4,5,6>;
strict `pZAIG` <1,2,3,4,5,6>;
strict `pZAZIPF` <1,2,3,4,5>;
strict `pZIPF` <1,2,3>;
strict `qBB` <1,2,3,4,5,6,7>;
strict `qBCCG` <1,2,3,4,5,6>;
strict `qBCT` <1,2,3,4,5,6,7>;
strict `qBE` <1,2,3,4,5>;
strict `qBEINF` <1,2,3,4,5,6,7>;
strict `qBEINF0` <1,2,3,4,6,7>;
strict `qBEINF1` <1,2,3,4,5,6>;
strict `qBEOI` <1,2,3,4,5,6>;
strict `qBEZI` <1,2,3,4,5,6>;
strict `qBNB` <1,2,3,4,5,6,7>;
strict `qDBURR12` <1,2,3,4,5,6>;
strict `qDEL` <1,2,3,4,5,6,7>;
strict `qDPO` <1,2,3,4,5,6>;
strict `qEGB2` <1,2,3,4,5,6,7>;
strict `qexGAUS` <1,2,3,4,5,6>;
strict `qGA` <1,2,3,4,5>;
strict `qGB1` <1,2,3,4,5,6,7>;
strict `qGB2` <1,2,3,4,5,6,7>;
strict `qGEOM` <1,2>;
strict `qGEOMo` <1,2>;
strict `qGG` <1,2,3,4,5,6>;
strict `qGIG` <1,2,3,4,5,6>;
strict `qGPO` <1,2,3,4,5,6>;
strict `qGT` <1,2,3,4,5,6,7>;
strict `qGU` <1,2,3,4,5>;
strict `qIG` <1,2,3,4,5>;
strict `qIGAMMA` <1,2,3,4,5>;
strict `qLG` <1,2,3,4,5>;
strict `qLO` <1,2,3,4,5>;
strict `qLOGITNO` <1,2,3,4,5>;
strict `qLOGNO` <1,2,3,4,5>;
strict `qLOGNO2` <1,2,3,4,5>;
strict `qMN3` <1,2,3>;
strict `qNBF` <1,2,3,4,5,6>;
strict `qNBI` <1,2,3,4,5>;
strict `qNBII` <1,2,3,4,5>;
strict `qNO` <1,2,3,4,5>;
strict `qPARETO2` <1,2,3,4,5>;
strict `qPIG` <1,2,3,4,5,6>;
strict `qRG` <1,2,3,4,5>;
strict `qRGE` <1,2,3,4,5,6>;
strict `qSEP` <1,2,3,4,5,6,7>;
strict `qSEP3` <1,2,3,4,5,6,7>;
strict `qSHASH` <1,2,3,4,5,6,7>;
strict `qSI` <1,2,3,4,5,6,7>;
strict `qSICHEL` <1,2,3,4,5,6,7>;
strict `qSIMPLEX` <1,2,3,4,5>;
strict `qSN1` <1,2,3,4,5,6>;
strict `qSN2` <1,2,3,4,5,6>;
strict `qST5` <1,2,3,4,5,6,7>;
strict `qTF` <1,2,3,4,5>;
strict `qWARING` <1,2,3,4,6>;
strict `qYULE` <1,2,3,5>;
strict `qZABB` <1,2,3,4,5,6,7>;
strict `qZABI` <1,2,3,4,5,6>;
strict `qZAGA` <1,2,3,4,5,6>;
strict `qZAIG` <1,2,3,4,5,6>;
strict `qZALG` <1,2,3,4,5>;
strict `qZANBI` <1,2,3,4,5,6>;
strict `qZAP` <1,2,3,4,5>;
strict `qZAZIPF` <1,2,3,4,5,6>;
strict `qZIBB` <1,2,3,4,5,6,7>;
strict `qZIBI` <1,2,3,4,5,6>;
strict `qZINBF` <1,2,3,4,5,6,7>;
strict `qZINBI` <1,2,3,4,5,6>;
strict `qZIP` <1,2,3,4,5>;
strict `qZIP2` <1,2,3,4,5>;
strict `qZIPF` <1,2,3,4,5>;
strict `rBB` <1,2,3,4,5>;
strict `rBE` <1,2,3>;
strict `rBEINF` <1,2,3,4,5>;
strict `rBEINF0` <1,2,3,4>;
strict `rBEINF1` <1,2,3,4>;
strict `rBEo` <1,2,3>;
strict `rBEOI` <1,2,3,4>;
strict `rBEZI` <1,2,3,4>;
strict `rBI` <1,2,3>;
strict `rBNB` <1,2,3,4,5>;
strict `rDBURR12` <1,2,3,4>;
strict `rDEL` <1,2,3,4,5>;
strict `rDPO` <1,2,3,4>;
strict `rEGB2` <1,2,3,4,5>;
strict `rexGAUS` <1,2,3,4>;
strict `rEXP` <1,2>;
strict `RG` <>;
strict `rGA` <1,2,3>;
strict `rGB1` <1,2,3,4,5>;
strict `rGB2` <1,2,3,4,5>;
strict `RGE` <>;
strict `rGEOM` <1,2>;
strict `rGEOMo` <1,2>;
strict `rGG` <1,2,3,4>;
strict `rGIG` <1,2,3,4>;
strict `rGPO` <1,2,3,4>;
strict `rGT` <1,2,3,4,5>;
strict `rGU` <1,2,3>;
strict `rIGAMMA` <1,2,3>;
strict `rLG` <1,2>;
strict `rLOGITNO` <1,2,3>;
strict `rLOGNO` <1,2,3>;
strict `rMN3` <1,2,3>;
strict `rNBF` <1,2,3,4>;
strict `rNBI` <1,2,3>;
strict `rNBII` <1,2,3>;
strict `rNO` <1,2,3>;
strict `rPARETO2` <1,2,3>;
strict `rPIG` <1,2,3,4>;
strict `rPO` <1,2>;
strict `rRG` <1,2,3>;
strict `rRGE` <1,2,3,4>;
strict `rSEP` <1,2,3,4,5>;
strict `rSEP3` <1,2,3,4,5>;
strict `rSHASH` <1,2,3,4,5>;
strict `rSI` <1,2,3,4>;
strict `rSICHEL` <1,2,3,4,5>;
strict `rSN1` <1,2,3,4>;
strict `rSN2` <1,2,3,4>;
strict `rST5` <1,2,3,4,5>;
strict `rTF` <1,2,3,4>;
strict `rWARING` <1,2,3>;
strict `rWEI` <1,2,3>;
strict `rYULE` <1,2>;
strict `rZABB` <1,2,3,4,5>;
strict `rZABI` <1,2,3,4>;
strict `rZAGA` <1,2,3,4>;
strict `rZAIG` <1,2,3,4>;
strict `rZALG` <1,2,3>;
strict `rZANBI` <1,2,3,4>;
strict `rZAP` <1,2,3>;
strict `rZAZIPF` <1,2,3>;
strict `rZIBB` <1,2,3,4,5>;
strict `rZIBI` <1,2,3,4>;
strict `rZINBF` <1,2,3,4,5>;
strict `rZINBI` <1,2,3,4>;
strict `rZIP` <1,2,3>;
strict `rZIP2` <1,2,3>;
strict `rZIPF` <1,2,3>;
strict `SEP` <>;
strict `SEP1` <>;
strict `SEP2` <>;
strict `SEP3` <>;
strict `SEP4` <>;
strict `SHASH` <>;
strict `SHASHo` <>;
strict `SHASHo2` <>;
strict `show.link` <1>;
strict `SI` <>;
strict `SICHEL` <>;
strict `SIMPLEX` <>;
strict `SN1` <>;
strict `SN2` <>;
strict `SST` <>;
strict `ST1` <>;
strict `ST2` <>;
strict `ST3` <>;
strict `ST4` <>;
strict `ST5` <>;
strict `TF` <>;
strict `TF2` <>;
strict `theoCentileSK` <1,2>;
strict `tofyDEL2` <1,2,3,4>;
strict `WEI` <>;
strict `WEI2` <>;
strict `WEI3` <>;
strict `ZABB` <>;
strict `ZABI` <>;
strict `ZABNB` <>;
strict `ZAGA` <>;
strict `ZAIG` <>;
strict `ZANBI` <>;
strict `ZAP` <>;
strict `ZAPIG` <>;
strict `zetaP` <1>;
strict `ZIBB` <>;
strict `ZIBI` <>;
strict `ZIBNB` <>;
strict `ZINBF` <>;
strict `ZINBI` <>;
strict `ZIP` <>;
strict `ZIP2` <>;
strict `ZIPIG` <>;